/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fca33e;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}


.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background: #f8b400;
    color: #fff;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


header h1 {
    margin: 0;
    font-size: 2em;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


.hero {
    background: #f3f3f3;
    text-align: center;
    padding: 110px 0;
}


.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}


.hero p {
    font-size: 1.2em;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #f8b400;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btnp {
    display: inline-block;
    padding: 5px 10px;
    background: #f8b400;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15;
}


.highlights {
    padding: 20px 0;
}


.highlights h2 {
    text-align: center;
    margin-bottom: 20px;
}


.products {
    display: flex;
    justify-content: space-around;
}


.product {
    text-align: center;
    width: 30%;
}


.product img {
    width: 100%;
    border-radius: 10px;
}


footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


footer ul {
    list-style: none;
    padding: 0;
}


footer ul li {
    display: inline;
    margin: 0 10px;
}


footer ul li a {
    color: #fff;
    text-decoration: none;
}