body {
    font-family: Arial, sans-serif;
    background-color: #fca33e;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tfoot tr {
    font-weight: bold;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #5c4f4f;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonV{
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 5px;
    max-height: 50px;
}

a:link {
    color:#000000;
    text-decoration:none;
  }
  a:visited {
    color:#000000;
    text-decoration:none;
  }
  a:hover {
    color:#000000;
    text-decoration:none;
  }
  a:active {
    color:#000000;
    text-decoration:none;
  }
